@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1E20;
  color: #FFFFFF;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
}

@layer base {
  .es-scrollbar {
    scrollbar-color: #0D0F11 #53565A;
  }
}